
.dropdown {
    position: relative;
    margin: 5%;
    padding: 1%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #f05454;
}
